.custom-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  position: relative;

}

.custom-input input {
  z-index: 1;
  border: none;
  border-bottom: 1px solid var(--main);
  border-radius: 0;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 0 5px 0;
  line-height: 100%;

  outline: none;
  background-color: transparent;
  color: var(--text);
}

.custom-input input::placeholder {
  color: transparent
}

.custom-input label {
  font-weight: 400;
  font-size: 18px;

  position: absolute;
  top: 50%;
  left: 0;
  color: var(--text);
  transform: translateY(-50%);
  margin: 0;
  cursor: text;

  transition: top 0.3s, font-size .3s;

}

.custom-input input:focus{

}
.custom-input input:focus~label,
.custom-input input:not(:placeholder-shown)~label {
  font-size: 14px;
  line-height: 120%;
  top: 0%;
}

@media (max-width: 767px) {
  .custom-input input {
    font-size: 14px;
  }
  .custom-input label {
    font-size: 14px;
  }

  .custom-input input:focus~label,
.custom-input input:not(:placeholder-shown)~label {
  font-size: 12px;
}
}